head, main, footer {
    min-width: 855px;
}

p {
    display: inline;
}
main {
    background: white;
}

footer {
    background-color: yellow;
    clear: both;
}

head, main, footer {
    min-width: 855p;
}

.right-image {
    float: right;
}

head {
    background: white;
}

header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
    overflow: auto;
}

header h1 {
    float: left;
    width: 570px;
}

header nav {
    float: right;
    width: 285px;
}

header h5 {
    float: right;
}

.tabs a span.active {
    background: #eee;
}

.tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

